*{
  box-sizing: border-box;
}
body{
  background-color: #f4f6f8;
  margin: 0;
  padding: 10px;
}
.imageContainer form{
  width: 400px;
  height: 300px;
 border: 2px solid plum;
  margin:auto;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(238, 221, 238);
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
}
.imageContainer form:hover{
  width: 400px;
  height: 300px;
 border: 2px solid plum;
  margin:auto;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(238, 221, 238);
  box-shadow: 20px 20px 20px rgba(210, 202, 214, 0.5);
}

.uploadBox{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 40px;
}
input[type="File"]{
  display: none;
}
.btn{
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

form button{
  width: 100%;
  margin: auto;
  height: 30px;
  border: none;
  background-color: orange;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 400;
  cursor: pointer;
  
}
.uploadBox img{
  height: 100%;
  width: 100%;
}

.all-image{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.all-image  img{
border-radius: 10px;
border: 2px solid plum;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}